node_modules/
.node_modules/
dist/*
*.config
coverage/
internal/
**/.DS_Store
.settings
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
.idea
yarn.lock
yarn-error.log
package-lock.json
.eslintcache
*v8.log
/lib/