# JS
node_modules
yarn.lock

# Project files
CONTRIBUTING.md
CODE_OF_CONDUCT.md
README.md

# Config files
.babelrc
babel.config.js
.editorconfig
.eslintrc
.flowconfig
.watchmanconfig
jsconfig.json
.npmrc
.gitattributes
.circleci
*.coverage.json
.opensource
.circleci
.eslintignore
codecov.yml

# Example
example/


# Misc
.DS_Store
.DS_Store?
*.DS_Store 
coverage
npm-debug.log
.github
._* 
.Trashes
ehthumbs.db 
docs
.idea
tests/
bin/test.js
codorials
.vscode
.nyc_output
.tmp